/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/hello-node
*.zip
.env
.env.example*
.env.backup
.phpunit.result.cache
.htacces*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
