body {
    --secondary-ff: lores-22-serif, sans-serif;
}

main {
    background: #111827;
}

.logo-kp {
    height: 50px;
    font-size: 31px;
    min-height: 1.3em;
    position: relative;
    overflow: visible;
    color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    cursor: pointer;
}

.logo-kp.typed {

    font-family: var(--secondary-ff);
}

.logo-kp .klmv {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-kp .klmv .klmv_animate {
    position: relative;
    list-style: none;
}

.logo-kp .klmv .klmv_animate a {
    display: block;
    position: relative;
    font-size: 1em;
    line-height: 1em;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.logo-kp .klmv .klmv_animate a::before {
    content: attr(data-text);
    font-size: 1em;
    text-align: right;
    line-height: 1em;
    height: 1em;
    position: absolute;
    right: 0;
    width: 0;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    -webkit-text-stroke: 1px white;
    overflow: hidden;
    transition: 1s;

}

.open-menu .logo-kp .klmv a::before,
.logo-kp .klmv a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px white);
}

/* .logo-kp:hover .klmv a::before {

    animation-name: hoverlogo2;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .5s; 
} */

.logo-kp .white-dash {
    background-color: #111827;
    color: white;
    padding: 5px;
    margin-left: 2px;
    animation: blink 1.3s linear infinite
}

.logo-kp .halfword {
    flex: 1 1 50%;
}


.halfword.klmv {
    text-align: right;
    position: relative;
}

.halfword.klmv .arrow-menu {

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .5s;
    transform: translateX(50%);
    height: 1em;
    width: 1em;
    font-size: .3em;
}

.logo-kp:hover .white-dash {
    display: none;
}

.logo-kp:hover .halfword.klmv .arrow-menu {
    opacity: 1;
    bottom: -30px;
}

.open-menu .halfword.klmv .arrow-menu {
    opacity: 0;
}

table {
    width: 100%;
    text-align: left;
}

table tr {
    width: 100%;
    text-align: left;
}

@keyframes hoverlogo1 {
    0% {
        width: 100%;
    }

    50% {
        width: 0;
        color: white;
    }

    51% {
        width: 0;
        color: #111827;
    }

    100% {
        width: 100%;
        color: #111827;
    }
}

@keyframes hoverlogo2 {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --color-text: rgb(61, 61, 61);
    --color-bg: #fff;
    --color-link: #000;
    --color-link-hover: #00fcee;
    --padding-sides: 2rem;
    --padding-row: 1rem;
    --color-row-border: #f0f0f0;
    --color-bg-row-hover: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) 0 0/400% 400%;
    --color-text-alt: #000;
    --image-gap: 1vw;
    --image-gap-large: 2vw;
    --img-size: 5vw;
    --img-size-large: 14vw;
    font-size: 14px;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: bold;
    font-size: 3.125rem;
    line-height: 3.75rem;
}

section {
    width: 100%;
}

.oh {
    position: relative;
    overflow: hidden;
}

.oh__inner {
    will-change: transform;
    display: inline-block;
    color: white;
}

.oh__inner.text-3x {
    text-transform: uppercase;
    font-weight: bold;

}

.js .loading:before,
.js .loading:after {
    content: "";
    z-index: 1000;
    position: fixed;
}

.js .loading:before {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    top: 0;
    left: 0;
}

.js .loading:after {
    width: 60px;
    height: 60px;
    opacity: .4;
    background: var(--color-link);
    border-radius: 50%;
    margin: -30px 0 0 -30px;
    animation: .7s linear infinite alternate forwards loaderAnim;
    top: 50%;
    left: 50%;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(.5, .5, 1);
    }
}

a {
    color: var(--color-link);
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.admin-panel a:hover {
    color: inherit;
}

.hover-line {
    position: relative;
    overflow: hidden;
}

.hover-line:before {
    content: "";
    height: 1px;
    width: 100%;
    transform-origin: 0%;
    background: currentColor;
    transition: transform .3s;
    position: absolute;
    top: 92%;
}

.hover-line:hover:before {
    transform-origin: 100%;
    transform: scaleX(0);
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
    text-decoration: none;
}

a:focus {
    background: #d3d3d3;
    outline: none;
}

a:focus:not(:focus-visible) {
    background: none;
}

a:focus-visible {
    background: none;
    outline: 2px solid red;
}

.unbutton {
    font: inherit;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.unbutton:focus {
    outline: none;
}

.frame {
    width: 100%;
    padding: 3rem var(--padding-sides);
    grid-row-gap: 1rem;
    grid-template: "title"
        "prevdemo"
        "sponsor"
        / 1fr;
    justify-content: start;
    place-items: end start;
    display: grid;
}

.frame__title {
    grid-area: title;
    line-height: 1;
    display: flex;
}

.frame__title-main {
    text-transform: none;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.953rem;
    font-weight: 400;
}

.frame__title-back {
    align-items: flex-end;
    display: flex;
    position: relative;
}

.frame__title-back span {
    display: none;
}

.frame__title-back svg {
    fill: currentColor;
}

.frame__prevdemo {
    grid-area: prevdemo;
}

.intro {
    flex: 1 1 50%;
    /* flex-direction: column-reverse; */
    align-items: center;
    display: flex;
    padding: 3rem var(--padding-sides);
}

.intro p {
    max-width: 860px;
}

.cover {
    background: var(--color-bg-row-hover);
    width: 100%;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    will-change: height, top;
    position: fixed;
    left: 0;
}

.content {
    z-index: 100;
    flex: 1 1 100%;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 0px solid var(--color-row-border);
    position: relative;

    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;

}

.content .row:last-child {
    margin-bottom: 3em;
}

.intro.open-menu+.content {
    max-height: 100vh;
}

/* 
.content::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100%;
    border-radius: 1px;
    background: rgba(128, 128, 128, 0.134);
} */

.row {
    z-index: 1;
    display: flex;
    border-bottom: 1px solid transparent;
}

.row:hover {
    position: relative;
    cursor: pointer;
    /* background: var(--color-bg-row-hover); */
    /* border-bottom: 1px solid var(--color-bg-row-hover); */
}

.row:hover .cell--text:after {
    opacity: 1;
}

.row--current {
    z-index: 11;
    transition: border-color .3s ease-out;
}

.cell {
    width: 100%;
    height: 50px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.cell--text {
    position: relative;
    margin-right: 50px;
    padding-right: 50px;
}

.cell--text:after {
    content: '';
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 3px;
    height: 100%;
    border-radius: 3px;
    background: white;
    opacity: 0;
    transition: opacity .7s;
}

.cell__title,
.preview__item-title {
    white-space: nowrap;
    margin: 0;
    font-family: inherit;
    font-size: clamp(1.953rem, 4vw, 3.052rem);
    font-weight: 400;
    line-height: 1;
    position: relative;
    letter-spacing: 3px;
}

.cell__title--switch {
    font-family: var(--secondary-ff);
    font-weight: 700;
    letter-spacing: 3px;
}

.cell__title {
    grid-template-rows: 100% 100%;
    display: grid;
    overflow: hidden;
    position: absolute;
}

.cell--images {
    grid-gap: var(--image-gap);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    place-content: center start;
    margin-left: auto;
    display: grid;
}

.cell__img {
    width: var(--img-size);
    will-change: transform, opacity;
    opacity: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    display: grid;
    position: relative;
}

.cell__img-inner {
    aspect-ratio: 1;
    width: 100%;
    border-radius: calc(var(--image-gap) / 3);
    background-position: 50%;
    background-size: cover;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.cell__img-title {
    max-width: 100%;
    color: var(--color-text-alt);
    height: 0;
    opacity: 0;
    white-space: nowrap;
    will-change: opacity, transform;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    display: none;
}

.row .cell--text,
.row .cell--images {
    flex: 0 0 50%;
}

.page-footer {
    padding: 10vw 10vw 5vw;
}

.page-footer__text {
    max-width: 860px;
    margin: 1.5rem auto;
    line-height: 1.5;
}

.page-footer__credits {
    text-align: center;
    padding-top: 10vh;
}

.preview {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.preview .cell__img-inner {
    position: absolute;
}

.oh .preview {
    z-index: 200;
}

.preview__close {
    cursor: pointer;
    opacity: 0;
    padding: 2rem;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.preview__close--show {
    pointer-events: auto;
    color: white;
}

.preview__item {
    width: 100%;
    height: 100%;
    grid-gap: 10vh;
    height: 0;
    opacity: 0;
    align-content: center;
    place-items: center;
    display: grid;
    overflow: hidden;
}

.preview__item--current {
    pointer-events: auto;
    height: 100vh;
    opacity: 1;
}

.preview__item-title {
    font-family: var(--secondary-ff);
    font-size: clamp(1.563rem, 6vw, 3.815rem);
    font-weight: 700;
    line-height: 3em;
}

.grid {
    max-width: 1200px;
    width: 100%;
    grid-gap: var(--image-gap-large);
    --img-size: var(--img-size-large);
    grid-template-columns: repeat(4, var(--img-size));
    grid-template-rows: repeat(2, var(--img-size));
    justify-content: center;
    justify-items: center;
    display: grid;
    position: relative;
    padding-bottom: 30px;
}

.grid-8cols {
    grid-template-columns: repeat(8, calc(var(--img-size) / 2));
    grid-template-rows: repeat(3, calc(var(--img-size) / 2));
}

.grid-2cols {
    grid-template-columns: repeat(2, calc(var(--img-size)));
    grid-template-rows: repeat(1, calc(var(--img-size)));
}

.grid-3cols {
    grid-template-columns: repeat(3, calc(var(--img-size)));
    grid-template-rows: repeat(2, calc(var(--img-size)));
}

.grid-5cols {
    grid-template-columns: repeat(5, calc(var(--img-size) / 2));
    grid-template-rows: repeat(3, calc(var(--img-size) / 2));
}

.grid .cell__img {
    width: var(--img-size-large);
}

.dark {
    --color-text: #fff;
}

.text-3x {
    font-size: 1.525rem;
    line-height: 3.75rem;
    position: relative;
    top: 1pxy;
}

.styled__back {
    display: none;
    padding: 15%;
    background: #1b221e;
    cursor: pointer;
    color: white;
}

.styled__back a.btn {
    color: rgb(61, 61, 61);
}

.persp-box a.case-link {
    background-color: #f7f7f7;
}

.case-link {
    position: absolute;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 59%;
    left: 30%;
    border-radius: 5px;
    color: black;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
}

.case-link .fa {
    font-size: 9px;
}

.case-text {
    margin-top: 1px;
    margin-left: 5px;
}

.preview .persp {
    perspective: 1000px;
    width: 100%;
    pointer-events: all;
    position: relative;
}

.preview .persp-box {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease 0s;
    transform-style: preserve-3d;
}

.preview .persp:hover .persp-box {
    transform: rotateY(180deg);
}

.preview .persp .styled__front {
    transform: rotateX(0deg);
    background-size: contain;
}


.preview .persp .styled__back {
    display: flex;
    transform: rotateY(180deg);
    background-size: contain;
    color: white;
}


@media screen and (min-width: 61em) {
    .frame {
        grid-column-gap: 2rem;
        grid-template: "title prevdemo sponsor"
            / auto auto 1fr;
    }

    :root {
        --padding-sides: 4rem;
        --padding-row: 2rem;
    }
}

@media (min-width: 480px) {
    .logo-kp {
        font-size: 39px;
    }

    .cell {}

    .logo-kp .white-dash {
        padding: 6px;
    }
}


@media (min-width: 640px) {
    .logo-kp {
        font-size: 49px;
    }

    .cell {}

    .logo-kp .white-dash {
        padding: 9px;
    }
}

@media (min-width: 768px) {
    .logo-kp {
        width: 100%;
        font-size: 63px;
    }

    .cell {}

    .logo-kp .white-dash {
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    .logo-kp {
        width: 100%;
        font-size: 113px;
    }

    .cell {}

    .content {
        max-width: 70%;
    }
}
