.logo-kp {
    height: 50px;
    font-size: 31px;
    min-height: 1.3em;
    position: relative;
    overflow: hidden;
    color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.logo-kp.typed {

    font-family: lores-22-serif, sans-serif;
}

.logo-kp img {
    min-width: 100%;
    object-fit: cover;
    height: 100%;
}

.logo-kp .white-dash {
    color: white;
    padding: 5px;
    margin-left: 2px;
    -webkit-animation: blink 1.3s linear infinite;
    animation: blink 1.3s linear infinite
}

.logo-kp .halfword {
    flex: 1 1 50%;
}

.halfword.klmv {
    text-align: right;
}

table {
    width: 100%;
    text-align: left;
}

table tr {
    width: 100%;
    text-align: left;
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --color-text: rgb(61, 61, 61);
    --color-bg: #fff;
    --color-link: #000;
    --color-link-hover: #00fcee;
    --padding-sides: 2rem;
    --padding-row: 1rem;
    --color-row-border: #f0f0f0;
    --color-bg-row-hover: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) 0 0/400% 400%;
    --color-text-alt: #000;
    --image-gap: 1vw;
    --image-gap-large: 2vw;
    --img-size: 5vw;
    --img-size-large: 14vw;
    font-size: 14px;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3 { 
    font-weight: bold;
    font-size: 3.125rem;
    line-height: 3.75rem;
}

section {
    width: 100%;
}

.oh {
    position: relative;
    overflow: hidden;
}

.oh__inner {
    will-change: transform;
    display: inline-block;
    color: white;
}

.oh__inner.text-xlg {
    text-transform: uppercase;
    font-weight: bold;

}

.js .loading:before,
.js .loading:after {
    content: "";
    z-index: 1000;
    position: fixed;
}

.js .loading:before {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    top: 0;
    left: 0;
}

.js .loading:after {
    width: 60px;
    height: 60px;
    opacity: .4;
    background: var(--color-link);
    border-radius: 50%;
    margin: -30px 0 0 -30px;
    animation: .7s linear infinite alternate forwards loaderAnim;
    top: 50%;
    left: 50%;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(.5, .5, 1);
    }
}

a {
    color: var(--color-link);
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.admin-panel a:hover {
    color: inherit;
}

.hover-line {
    position: relative;
    overflow: hidden;
}

.hover-line:before {
    content: "";
    height: 1px;
    width: 100%;
    transform-origin: 0%;
    background: currentColor;
    transition: transform .3s;
    position: absolute;
    top: 92%;
}

.hover-line:hover:before {
    transform-origin: 100%;
    transform: scaleX(0);
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
    text-decoration: none;
}

a:focus {
    background: #d3d3d3;
    outline: none;
}

a:focus:not(:focus-visible) {
    background: none;
}

a:focus-visible {
    background: none;
    outline: 2px solid red;
}

.unbutton {
    font: inherit;
    cursor: pointer;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.unbutton:focus {
    outline: none;
}

.frame {
    width: 100%;
    padding: 3rem var(--padding-sides);
    grid-row-gap: 1rem;
    grid-template: "title"
        "prevdemo"
        "sponsor"
        / 1fr;
    justify-content: start;
    place-items: end start;
    display: grid;
}

.frame__title {
    grid-area: title;
    line-height: 1;
    display: flex;
}

.frame__title-main {
    text-transform: none;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.953rem;
    font-weight: 400;
}

.frame__title-back {
    align-items: flex-end;
    display: flex;
    position: relative;
}

.frame__title-back span {
    display: none;
}

.frame__title-back svg {
    fill: currentColor;
}

.frame__prevdemo {
    grid-area: prevdemo;
}

.intro {
    flex: 1 1 50%;
    flex-direction: column-reverse;
    display: flex;
    padding: 1rem var(--padding-sides) 3rem;
}

.intro p {
    max-width: 860px;
}

.cover {
    background: var(--color-bg-row-hover);
    width: 100%;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    will-change: height, top;
    position: fixed;
    left: 0;
}

.content {
    z-index: 100;
    flex: 1 1 100%;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 0px solid var(--color-row-border);
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100%;
    border-radius: 1px;
    background: rgba(128, 128, 128, 0.134);
}

.row {
    z-index: 1;
    display: flex;
    border-bottom: 1px solid transparent;
}

.row:hover {
    position: relative;
    cursor: pointer;
    /* background: var(--color-bg-row-hover); */
    /* border-bottom: 1px solid var(--color-bg-row-hover); */
}

.row:hover .cell--text:after {
    opacity: 1;
}

.row--current {
    z-index: 11;
    transition: border-color .3s ease-out;
}

.cell {
    width: 100%;
    height: 50px;
    font-size: 15px;
    min-height: 3.3em;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cell--text {
    position: relative;
    padding-right: 5%;
}

.cell--text:after {
    content: '';
    position: absolute;
    right: -2px;
    bottom: 0;
    width: 3px;
    height: 100%;
    border-radius: 3px;
    background: white;
    opacity: 0;
    transition: opacity .7s;
}

.cell__title,
.preview__item-title {
    white-space: nowrap;
    margin: 0;
    font-family: inherit;
    font-size: clamp(1.953rem, 4vw, 3.052rem);
    font-weight: 400;
    line-height: 1;
    position: relative;
    letter-spacing: 3px;
}

.cell__title--switch {
    font-family: lores-22-serif, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

.cell__title {
    grid-template-rows: 100% 100%;
    display: grid;
    overflow: hidden;
    position: absolute;
}

.cell--images {
    grid-gap: var(--image-gap);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    place-content: center start;
    margin-left: auto;
    display: grid;
    padding-left: 5%;
}

.cell__img {
    width: var(--img-size);
    will-change: transform, opacity;
    opacity: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    display: grid;
    position: relative;
}

.cell__img-inner {
    aspect-ratio: 1;
    width: 100%;
    border-radius: calc(var(--image-gap) / 3);
    background-position: 50%;
    background-size: cover;
    backface-visibility: hidden;
}

.cell__img-title {
    max-width: 100%;
    color: var(--color-text-alt);
    height: 0;
    opacity: 0;
    white-space: nowrap;
    will-change: opacity, transform;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    display: none;
}

.page-footer {
    padding: 10vw 10vw 5vw;
}

.page-footer__text {
    max-width: 860px;
    margin: 1.5rem auto;
    line-height: 1.5;
}

.page-footer__credits {
    text-align: center;
    padding-top: 10vh;
}

.preview {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.preview .cell__img-inner {
    position: absolute;
}

.oh .preview {
    z-index: 200;
}

.preview__close {
    cursor: pointer;
    opacity: 0;
    padding: 2rem;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.preview__close--show {
    pointer-events: auto;
    color: white;
}

.preview__item {
    width: 100%;
    height: 100%;
    grid-gap: 10vh;
    height: 0;
    opacity: 0;
    align-content: center;
    place-items: center;
    display: grid;
    overflow: auto;
}

.preview__item--current {
    pointer-events: auto;
    height: auto;
    opacity: 1;
}

.preview__item-title {
    font-family: lores-22-serif, sans-serif;
    font-size: clamp(1.563rem, 6vw, 3.815rem);
    font-weight: 700;
    line-height: 3em;
}

.grid {
    max-width: 1200px;
    width: 100%;
    grid-gap: var(--image-gap-large);
    --img-size: var(--img-size-large);
    grid-template-columns: repeat(4, var(--img-size));
    grid-template-rows: repeat(2, var(--img-size));
    justify-content: center;
    justify-items: center;
    display: grid;
    position: relative;
}

.grid-8cols {
    grid-template-columns: repeat(8, calc(var(--img-size) / 2));
    grid-template-rows: repeat(3, calc(var(--img-size) / 2));
}
.grid-5cols {
    grid-template-columns: repeat(5, calc(var(--img-size) / 2));
    grid-template-rows: repeat(3, calc(var(--img-size) / 2));
}

.grid .cell__img {
    width: var(--img-size-large);
}

.dark {
    --color-text: #fff;
}

.text-xlg {
    font-size: 3.125rem;
    line-height: 3.75rem;
}

.styled__back {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15%;
    background: #1b221e;
}

.styled__back a {
    color: white;
}

.preview .persp {
    perspective: 1000px;
    width: 100%;
    pointer-events: all;
    position: relative;
}

.preview .persp-box {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease 0s;
    transform-style: preserve-3d;
}

.preview .persp:hover .persp-box {
    transform: rotateY(180deg);
}

.preview .persp .styled__front {
    transform: rotateX(0deg);
    background-size: contain;
}


.preview .persp .styled__back {
    display: flex;
    transform: rotateY(180deg);
    background-size: contain;
    color: white;
}


@media screen and (min-width: 61em) {
    .frame {
        grid-column-gap: 2rem;
        grid-template: "title prevdemo sponsor"
            / auto auto 1fr;
    }

    :root {
        --padding-sides: 4rem;
        --padding-row: 2rem;
    }
}

@media (min-width: 480px) {
    .logo-kp {
        font-size: 39px;
    }

    .cell {
        min-height: 4.3em;
    }

    .logo-kp .white-dash {
        padding: 6px;
    }
}


@media (min-width: 640px) {
    .logo-kp {
        font-size: 49px;
    }

    .cell {
        min-height: 5.3em;
    }

    .logo-kp .white-dash {
        padding: 9px;
    }
}

@media (min-width: 768px) {
    .logo-kp {
        width: 100%;
        font-size: 63px;
    }

    .cell {
        min-height: 7.3em;
    }

    .logo-kp .white-dash {
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    .logo-kp {
        width: 100%;
        font-size: 113px;
    }

    .cell {
        min-height: 8.3em;
    }

    .content {
        max-width: 70%;
    }
}